body {
  font-size: 20px; 
  font-family: 'Karla', sans-serif;
  color: #868e96;
}

h1 {
	color: #343a40;
}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.BirthdayPhoto {
   margin: auto;
    width: 50%;
    padding: 10px;
}

.AgePhoto {
   margin: auto;
    width: 50%;
    padding: 10px;
}

.UniversityPhoto {
	margin: auto;
    width: 62%;
    padding: 10px;
}

.profileImg{
    padding: 5x0px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.profileImg:hover {
    transform: scale(1.3);
}

.university{
	    text-align: center;
}

.Age{
	    text-align: center;
}

.Birthday{
	    text-align: center;
}

.DegreePhoto{
	margin: auto;
    width: 50%;
    padding: 10px;
}

.ComputerPhoto{
	margin: auto;
    width: 80%;
    padding: 10px;
}

.IoTPhoto{
	margin: auto;
    width: 55%;
    padding: 10px;
}

.CVPhoto{
	margin: auto;
    width: 55%;
    padding: 10px;
}

 .carousel-inner img {
      width: 100%;
      height: 100%;
  }

 .carrouselText{
 	color: black;
 }

 .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonCV {
	background-color: #dc3545;
}

