body {
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    color: #868e96;
}

h1 {
    color: #343a40;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profileImg {
    height: 540;
    width: 432
}

.profileImgDiv {
    overflow: hidden;
    height: 540px;
    width: 432px;
    margin-bottom: 4%;
    transition: transform .2s;
    /* Animation */
}

.profileImgDiv img {
    height: 755px;
    width: 605px;
    margin: -75px 0 0 -150px;
}

.profileImgDiv:hover {
    transform: scale(1.2);
}

.University, .Age, .Birthday, .Industrial, .CS, .IoT, .HabitacionesText {
    text-align: center;
}

.Mail {
    text-align: center;
    color : #dc3545;
    top: 5%;
    width: 100px;
}

.Mail:hover {
    cursor: pointer;
    color : #dc3545;
    text-decoration: underline;
}

.TwitterPhoto {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.GithubPhoto {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.MailPhoto {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carrouselText {
    color: white;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: -5%;
    border-radius: 5px;     
    background-color: #dc3545;
}

.buttonCV {
    color: white;
    border-radius: 5px;
    align-items: center;
    white-space: nowrap;
}

.footer {
    width: 100%;
    background-color: #dc3545;
    color: white;
    text-align: center;
    height: 60px;
    margin-bottom: 5px;
    position: relative;
}

.btn-space {
    margin-right: 10px;
}

.basicInfoText {
    text-align: center;
    color: black;
    margin-top: 25%;
    display: inline-block;
}

.footerText {
    margin-left: -10%;
    position: absolute;
    top: 30%;
}